$primary: #c44238;
$secondary: #952e2e;

//import bootstrap
@import "../bootstrap/scss/bootstrap.scss";

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: var(--bs-secondary);
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

tr {
    border-radius: 0.5rem;
}

td {
    white-space: nowrap;
}

.img-input {
    position: relative;
    margin: 0.5rem;
    width: 10rem;
}

.delete-topping-btn {
    position: absolute;
    
    right: 0.5rem;
    padding: 0.1rem!important;
    width: 2rem;
}


.img-inp-btn {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    right: -5px;
    bottom: -5px;
    background-color: var(--bs-primary);
    color: white;

    padding: 0.1rem;
    border-radius: 50%;
    border: none;

    text-align: center;
    vertical-align: middle;
}
.img-inp-btn:hover {
    background-color: var(--bs-secondary);
    color: white;
    border-radius: 50%;
    transform:scale(1.1);
    border: none;
}

input[type="file"] {
    display: none;
}

.centered {
    text-align: center;
    vertical-align: middle;
}   

.pizza-img {
    width: 10rem;
    border-radius: 0.5rem;
}

.selected {
    background-color: var(--bs-white);
    animation: select 1.25s 0.75s linear;
    border-radius: 0.5rem;
}

@keyframes select {
    0% {background-color: var(--bs-white);}
    50% {background-color: #dddddda1;}
    100% {background-color: var(--bs-white);}
}